.button {
  padding: 10px 20px;
  background-color: var(--primary-color); /* Black background */
  color: var(--text-color); /* Green text */
  border: 1px solid var(--border-color); /* Add border to Button */
  border-radius: 5px; /* Add border radius */
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}
