.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--navbar-background-color); /* Apply green background color */
  border: 1px solid var(--border-color); /* Add border to Navbar */
}


.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
